<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Home</h1>

    <p>You have successfully logged in with your wallet.</p>
    <br />

    <p>This view is only accessible by authenticated users.</p>
    <br />

    <ion-button (click)="showSessionInfo()">Show Session Info</ion-button>
    <br />

    <ion-button (click)="logOut()">Log Out</ion-button>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Your current session info is displayed as a JSON object below:
          </p>
          <pre>
              {{ modalText | json }}
          </pre>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
